@import url('https://fonts.googleapis.com/css?family=Lobster');

*{
	margin: 0;
	padding: 0;
}

header{
	border: 1px solid #b5b7ba;
	background-color: #DFDFDF;
	min-width: 1280px;
	height: 50px;
	text-align: center;
	padding-top: 18px;
}

body{
	background-color: #f7f7f7;
	font-family: "Lobster";
}

.txt{
	font-size: 25px;
	color: #727797;
	padding: 50px;
}

a{
	text-decoration: none;
}

a:hover{
	color: blue;
}

h1,h2,h3{
	text-align: center;
}

.round{
	border-radius: 85px;
	border: 1px solid #B34EE9;
}

.text{
	float: right;
	background-color: #ffffff;
	width: 700px;
	font-size: 24px;
	margin: 100px 200px 0 0;
}

.col{
	color: aqua;
}

p{
	text-align: center;
}

#list{
	width: 500px;
	margin: auto;
	text-align: center;
}

.list{
	width: 1px;
	margin: auto;
}

ul{
	text-align: justify;
}

#Table{
	width: 900px;
	margin: auto;
	text-align: center;
	background-color: #3AE2CE;
}

#table{
	background-color: #00FFA9;
}

footer{
	margin: 50px;
	height: 80px;
	background-color: #434446;
	font-size: 24px;
	padding-top: 40px;
}

.form{
	width: 500px;
	height: 200px;
}

#tesst{
	transform: scale(0.9);
	transition: 8s all;
	
	background-color: #3AE2CE;
	color: #000000;
	padding: 15;
	margin: 15;
	border:7px solid #00CA87 ;
	border-radius: 100px;
	opacity: 0.5;
	box-shadow: 3px 3px 7px;
}

#tesst:hover{
	opacity: 1;
	transform: rotate(90deg); 
}

#contact{
	width: 500px;
	margin: auto;
	text-align: center;
	font-size: 25px;
}
	
.textarea{
	display: block;
	margin: auto;
	text-align: center;
}

.fieldset{
	width: 500px;
	margin: auto;
	text-align: center;
	font-size: 14px;
	background-color: rgba(60,195,236, 0.5);
}

.phone{
	color: #7C2EE9;
}